<div class="register-container">

  <!-- Titre -->
  <h1>Inscription</h1>

  <!-- Formulaire -->
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    
    <!-- Nom d'utilisateur -->
    <div class="form-group">
      <label>Nom d'utilisateur</label>
      <input 
        type="text" 
        formControlName="username"
        placeholder="Votre nom d'utilisateur"
        [class.error]="registerForm.get('username')?.invalid && registerForm.get('username')?.touched">
      
      <div class="field-error" *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched">
        <span *ngIf="registerForm.get('username')?.errors?.['required']">Nom d'utilisateur obligatoire</span>
        <span *ngIf="registerForm.get('username')?.errors?.['minlength']">Au moins 3 caractères</span>
      </div>
    </div>

    <!-- Email -->
    <div class="form-group">
      <label>Adresse e-mail</label>
      <input 
        type="email" 
        formControlName="email"
        placeholder="votre@email.com"
        [class.error]="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
      
      <div class="field-error" *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
        <span *ngIf="registerForm.get('email')?.errors?.['required']">Email obligatoire</span>
        <span *ngIf="registerForm.get('email')?.errors?.['email']">Email invalide</span>
      </div>
    </div>

    <!-- Mot de passe -->
    <div class="form-group">
      <label>Mot de passe</label>
      <input 
        type="password" 
        formControlName="password"
        placeholder="Votre mot de passe"
        [class.error]="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
      
      <div class="field-error" *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
        <span *ngIf="registerForm.get('password')?.errors?.['required']">Mot de passe obligatoire</span>
        <span *ngIf="registerForm.get('password')?.errors?.['invalidPassword']">
          8+ caractères, majuscule, minuscule, chiffre
        </span>
      </div>
    </div>

    <!-- Bouton -->
    <button 
      type="submit" 
      [disabled]="!registerForm.valid || isLoading"
      class="submit-btn">
      {{ isLoading ? 'Inscription...' : "S'inscrire" }}
    </button>

  </form>

</div>