// src/app/features/comments/comment.component.scss

@import "src/styles/variables";
@import "src/styles/mixins";

:host {
  display: block;
}

.comments-block {
  margin-top: $space-xl;
  padding-top: $space-lg;
  border-top: 1px solid $mdd-black;
}

/* Styles par défaut pour les grands écrans */
.previous-comment {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: $space-md;
}

.comment-card {
  background-color: $mdd-border-gray;
  padding: 1rem;
  border-radius: 16px;
  width: 60%;
  min-height: 6.25rem;
}

.comment-form-wrapper {
  display: flex;
  align-items: flex-end;
  gap: $space-md;
  width: 100%;
}

.form__field {
  resize: none;
  border: 1px solid #000000;
  border-radius: 16px;
  padding: 0.5rem;
  box-sizing: border-box;
  flex-grow: 1;
  min-height: 5rem;

  &:focus {
    outline: none;
    border-color: $mdd-black;
  }
}

.comment-content {
  margin: 0;
  line-height: 1.5;
}

.btn-send-comment {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  height: 43px;
  width: 43px;
  flex-shrink: 0;
}

img.send-arrow {
  width: 100%;
  height: 100%;
}

/* Media Query pour les mobiles */
@include mobile {
  .previous-comment {
    flex-direction: column;
    align-items: flex-start;
    justify-content: initial;
    gap: $space-xs;
  }

  .comment-card {
    width: 100%;
  }

  .meta-data-container {
    flex-direction: column;
    gap: $space-xs;
  }

  .article-title-container {
    flex-direction: column;
  }
}
