@import "src/styles/variables";
@import "src/styles/mixins";

:host {
  display: block;
}

.comments-block {
  margin-top: $space-xl;
  padding-top: $space-lg;
  border-top: 1px solid $mdd-black;
}

.previous-comment {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: $space-md;
}

.comments-section {
  display: flex;
  flex-direction: column;

}

.comment-header {
  //display: flex;
  //justify-content: space-between;
  //align-items: center;

  @include mobile {
    flex-direction: column;
    align-items: flex-start;
    gap: $space-xs;
  }
}

.comment-card {
  background-color: $mdd-border-gray;
  padding: 1rem;
  border-radius: 16px;
  width: 60%;
  min-height: 6.25rem;
}

.comment-form {
  width: 95%;
  padding: $space-md;
}

.form__field {
  resize: none;
  border: 1px solid #000000;
  border-radius: 16px;
  padding: 0.5rem;

  box-sizing: border-box;

  &:focus {
    outline: none;
    border-color: $mdd-black;
  }
}

.comment-content {
  margin: 0;
  line-height: 1.5;
}

.btn-send-comment {
  background: transparent;
  border: none;
  cursor: pointer;
  // padding: 20%;
}

img.send-arrow {
  width: 43px;
  height: 43px;
}
