// navbar.component.scss
.navbar {
  // Styles spécifiques à la navbar
  .logo-container {
    cursor: pointer;
    
    .logo {
      height: 40px;
      
      @include mobile-only {
        height: 32px;
      }
    }
  }
  
  .logout-btn {
    background-color: var(--mdd-danger-red) !important;
    color: var(--mdd-white) !important;
    
    &:hover {
      opacity: 0.9;
    }
  }
}