@import "src/styles/variables";
@import "src/styles/mixins";

:host {
  display: block;
}

.landing-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $space-xxl;
  }

  .back-arrow {
    // Le sélecteur de la flèche
    position: absolute; // Positionne la flèche de manière absolue
    cursor: pointer; // AJOUTÉ : Indique que l'élément est cliquable
    background-color: blue; // Décommentez ceci TEMPORAIREMENT pour voir si la "boîte" de la flèche apparaît
  }

  &__logo {
    display: flex;
    justify-content: center;

    img {
      height: 150px;

      @include mobile {
        height: 100px;
      }
    }
  }

  &__actions {
    display: flex;
    gap: $space-lg;

    @include mobile {
      flex-direction: column;
      width: 100%;
    }
  }
}
