<div class="page-with-navbar">
  <div class="page-with-navbar__header">
    <div class="container">
      <div class="container">
        <img
      src="/assets/back_arrow.svg"
      alt="Retour"
      class="back-arrow"
      (click)="goBack()"
    />
      <h1 class="page-title">Créer un nouvel article</h1>
    </div>
  </div>

  <div class="page-with-navbar__content">
    <div class="container">
      <div class="create-form">
        <form [formGroup]="articleForm" (ngSubmit)="onSubmit()">
          <!-- Thème -->
          <div class="form__group">
            <select
              class="form__field"
              [class.form__field--error]="hasError('themeId')"
              formControlName="themeId"
            >
              <option value="">Sélectionnez un thème</option>
              <option *ngFor="let theme of themes" [value]="theme.id">
                {{ theme.name }}
              </option>
            </select>
          </div>

          <!-- Titre de l'article -->
          <div class="form__group">
            <input
              class="form__field"
              [class.form__field--error]="hasError('title')"
              formControlName="title"
              placeholder="Titre de l'article"
              type="text"
            />
          </div>

          <!-- Contenu de l'article -->
          <div class="form__group">
            <textarea
              class="form__field"
              [class.form__field--error]="hasError('content')"
              formControlName="content"
              placeholder="Contenu de l'article"
              rows="8"
            >
            </textarea>
          </div>

          <!-- Bouton Créer -->
          <div class="form__group">
            <button
              class="btn btn--primary"
              type="submit"
              [disabled]="!articleForm.valid || isSubmitting"
            >
              {{ isSubmitting ? "Création..." : "Créer" }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
