<nav class="navbar">
  <div class="navbar__container">
    <div class="navbar__content">
      <img src="assets/logo_navbar_home.png" class="navbar__logo" (click)="goToHomePage()">
      <div class="navbar__menu" *ngIf="!isSimple">
        <a class="navbar__link navbar__link--logout" (click)="logout()">Se déconnecter</a>
        <a class="navbar__link" [class.active]="isRouteActive('/articles')" (click)="goToArticles()">Articles</a>
        <a class="navbar__link" [class.active]="isRouteActive('/themes')" (click)="goToThemes()">Thèmes</a>
        <img src="assets/icon_user.svg" class="navbar__user-icon" (click)="goToProfile()">
      </div>
    </div>
  </div>
</nav>